
@media only screen and (max-width: 1200px) {

    .image-section {
        width: 70%;
    }    

    .sign-up {
        width: 30%;
    }
}

@media only screen and (max-width: 1023px) {

    .image-section {
        width: 60%;
    }    

    .sign-up {
        width: 40%;
    }

    input[type="submit"] {
        padding: 10px 60px;
    }    
}

@media only screen and (max-width: 767px) {

    .image-section {
        width: 50%;
    }    

    .sign-up {
        width: 50%;
    }

}

@media only screen and (max-width: 597px) {

    .image-section {
        display: none;
    }

    .sign-up {
        width: 80%;
        margin-left: 10%;
    }

}
